.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px; /* Aumenta el relleno alrededor del contenido */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al final del footer */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .footer-content {
    display: flex;
  }
  
  .footer-content a {
    font-size: 14px !important; 
    font-family: "Prelio-Medium";
    margin-left: 20px; /* Aumenta el margen a la izquierda de cada enlace */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: black; /* Cambia el color del texto */
  }
  